body{
    position: relative;
    height: 100vh;
    background-image: url('sailor.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
}

div.geral{
    display: flex;
    position: relative;
    height: 500px;
    width: 1100px;
    background-color: rgba(13, 13, 134, 0);
    top: 100px;
    margin: auto;
    margin-left: 2%;
}

.info{
    top: -5px;
    background-color: rgba(255, 145, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1px;
    
    height: 500px;
    width: 1100px;
    margin-left: 150px;
    
}

.login{
    margin-top: 3.7px;
    background-color: rgba(255, 0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 500px;
    width: 1100px;
  
    
    
}
.texto{
    top: 0;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 30px;
   
    color: aliceblue;
    border-radius: 42px;
    margin-left: 150px;
    margin-right: 24px;
    font-size: 14px;
    text-align: left;
   
}
form{
margin-top: 35%;
color: aliceblue;
background-color: rgba(0, 0, 0, 0.377);
margin-left: 40px;
margin-right: 40px;
margin-top: 10px;
margin-bottom: 40px;
height: 300px;
width: 300px;
border-radius: 42px;
padding-top: 100px;
position: relative;
}

div.img{
position: absolute;
width: 104.05px;
height: 111.27px;
left: 260px;
top: 10px;
transform: rotate(13.08deg);
}
span.titulo{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 60px;
    font-size: 25px;
    position: relative;
}
input{
    
    position: relative;
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-bottom: -20px
}
.input-field{
    position: relative;
    margin-bottom: 20px;
    
}

label{
    position: absolute;
    margin-bottom: 20px;
    top: -3px;
    left: 4px;
    transform: translateY(18px);
    transition: .30s ease-in-out;
}
input:focus{
    border-bottom: 1px solid rgb(253, 185, 248);
    transition: .30s ease-in-out;
 
}
input:focus+label{
    transform: translateY(-14px)scale(0.9);
    color: rgb(253, 185, 248);
}
input:not(:placeholder-shown) + label{
    transform: translateY(-14px)scale(0.9);
    color: rgb(253, 185, 248); 
}
input:not(:placeholder-shown){
    border-bottom: 1px solid rgb(253, 185, 248);
}
button{
    padding: 15px 50px;
    margin: 20px;
    background: transparent;
    border: 2px solid #FFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out .30s;
}
button:hover{
    background-color: rgb(253, 185, 248);
    color: black;
}
.formulario{
    padding: 40px;
}
.direitos{
    margin-top: 110px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}



